.rotate {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

span.glyphicon-chevron-right {
  font-size: 5em;
  color: #E5E5E5;
  margin: 0 auto; 
  transition: all 0.5s ease;
}

.row {
  padding: none;
  margin: none;
  width: 100%;
}

#map-canvas {
  height: 100vh;
  width: 50vw;
  padding: none;
  margin: none;
}

#slideButton {
  vertical-align: center;
  text-align: center;
  display: flex;
  align-items: center; 
  height: 100vh;
  width: 9vw;
  padding: none;
  margin: none;
  background-color: #8E0E00;
  background-color: -webkit-linear-gradient(to left, #8E0E00 , #6F0B00);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #8E0E00 , #6F0B00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #9E1800;

}

#pano{
  height: 100vh;
  width: 50vw;
  padding: none;
  margin: none
}

#pano text{
  display: none;
}


.btn-default{
  border-radius: 6px;
  background: #1F1C18;
  border-color: #242422;
  color: #E5E5E5;
}

.btn.btn-primary{
  background: #8E0E00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00 , ##6F0B00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E0E00 , #6F0B00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  border-color: #1F1C18;
  margin-bottom: 7px;
}

#checkAnswer{
  position: absolute;
  left: 10;
  bottom: 0;
  z-index: 1000;
}


div.index-logo{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

div.index-logo h1{
  color: #DEDEDE;
  font-size: 2em;
}

body{
  position: relative;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2A2C2D , #414345); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #2A2C2D , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #E5E5E5;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
  font-family: 'RailwayRegular';
  font-weight: normal;
  font-style: normal;
}
p{
  font-size: 1em;
  font-family: 'RailwayRegular';
  font-weight: normal;
  font-style: normal;
}

div.homeTem > div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.homeTem{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  margin: 0, auto, 0, auto;
  background-image: url("../images/london-rain.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.homeTem > div.container > div.header{
  text-align: center;
  color: #E5E5E5;
  text-shadow: 2px 2px #4E4948;
}

div.homeTem > div.container > div.header > p{
 text-shadow: 2px 1px #1F1C18;
}

div.homeTem > div.container > div.header > img{
  width: 14vw;
}

div.rulesTem{
  height: 100vh;
  width: 100vw;
  background-image: url("../images/trafalgar.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.rulesTem > div.container{
  background-color: rgba(35,37,38, 0.6); /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #2A2C2D , #414345);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(90deg, #2A2C2D , #414345);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
