#map-canvas {
  height: 500px;
  width: 500px;
  position: relative;
}

#pano{

  height:500px;
  width: 500px;
}

#pano text{
  display: none;
}

#checkAnswer{
  position: relative;
  top:-35px;
  z-index: 1000;
}

#noPadding1{
  padding: 0
}
#noPadding2{
  padding: 0
}

div.index-logo{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

div.index-logo h1{
  color: #DEDEDE;
  font-size: 2em;
}

body {
  background-color: #1C1C1C;
}

