#clicinImage{

width: 80%;
}

.row {
  padding: none;
  margin: none;
  width: 100%;
}

#map-canvas {
  height: 102vh;
  width: 45vw;
  padding: none;
  margin: none;
}

#slideButton {
  text-align: center;
  height: 102vh;
  width: 15vw;
  padding: none;
  margin: none;
  background-color: #8E0E00;
  background-color: -webkit-linear-gradient(to left, #8E0E00 , #6F0B00);
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: linear-gradient(to right, #8E0E00 , #6F0B00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("/images/gmapLogo.png");
  background-image: center;
  background-size: cover;
}

#pano{
  height: 102vh;
  width: 51vw;
  padding: none;
  margin: none
}

#pano text{
  display: none;
}


.btn-default{
  font-family: 'Hammersmith One', sans-serif;
  border-radius: 6px;
  background: #1F1C18;
  border-color: #242422;
  color: #E5E5E5;
}

.btn.btn-primary{
  font-family: 'Hammersmith One', sans-serif;
  background: #8E0E00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8E0E00 , ##6F0B00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8E0E00 , #6F0B00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 6px;
  border-color: #1F1C18;
  margin-bottom: 7px;
}

#checkAnswer{
  position: absolute;
  left: 10;
  bottom: 0;
  z-index: 1000;
}


div.index-logo{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

div.index-logo h1{
  color: #DEDEDE;
  font-size: 2em;
}

body{
  position: relative;
  background: #E5E5E5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E5E5E5 , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E5E5E5 , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #E5E5E5;
}

h1{
  font-size: 2.827em;
  font-family: 'Hammersmith One', sans-serif;
}
h2{
  font-size: 1.999em;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: normal;
  font-style: normal;
}
p{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

div.homeTem > div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.homeTem{
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  margin: 0, auto, 0, auto;
  background-image: url("../images/london-rain.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.homeTem > div.container > div.header{
  text-align: center;
  color: #E5E5E5;
  text-shadow: 1px 1px #4E4948;
}
dive.homeTem > div.container > div.header {
  font-size: 3em;
}

div.homeTem > div.container > div.header > p{
 text-shadow: 1px 1px rgba(12, 12, 12, 0.69);
 font-size: 1.2em;
 font-weight: 400;
}

div.homeTem > div.container > div.header > img{
  width: 14vw;
}

div.homeTem > div.container > div.buttons > #register{
  display: none;
}

div.homeTem > div.container > div.buttons > #login{
  display: none;
}

div.rulesTem{
  height: 100vh;
  width: 100vw;
  background-image: url("../images/trafalgar.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.rulesTem > div.container{
  background-color: rgba(35,37,38, 0.6); /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to left, #2A2C2D , #414345);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(90deg, #2A2C2D , #414345);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
div.rulesTem > div.container > div.header > img{
  width: 14vw;
}
div.rulesTem > div.container > div.content {
  text-align: center;

}

div.scoreTem{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


div.scoreTem > div.container{
  background-color: rgba(36,36,34, 0.6);
  text-align: center;
  width: 100%;
}

div.scoreTem > div.container > img{
  width: 14vw;
}
