<div class="finalscoreTem">
  <div class="container">
    <h2>Final Score</h1>

    <p>First round : <%= GameSession.rounds[0].score %></p>
    <p>Second round : <%= GameSession.rounds[1].score %></p>
    <p>Third round : <%= GameSession.rounds[2].score %></p>
    <p>Fourth round : <%= GameSession.rounds[3].score %></p>
    <p>Fifth round : <%= GameSession.rounds[4].score %></p>

    <h2>Total Score : <%= GameSession.totalScore %></h2>

    <%
      var totalDistance = 0;
      for(i=0; i < 5; i++){
        totalDistance += GameSession.rounds[i].distance
      };
    %>

    <h2 class="totalDistance">You were off by a total of <%= totalDistance %>km</h2>

    <% if (GameSession.totalScore > 24000 ){ %>
      <p>Unbelievable. One might suspect you cheated.</p>
    <% } %>

    <% if (GameSession.totalScore <= 24000 && GameSession.totalScore > 20000){ %>
      <p>Very nice. You know London like the back of your hand, eh.</p>
    <% } %>

    <% if (GameSession.totalScore <= 20000 && GameSession.totalScore > 12000){ %>
      <p>Impressive. London must be your home.</p>
    <% } %>

    <% if (GameSession.totalScore <= 12000 && GameSession.totalScore > 4000){ %>
      <p>A fair showing, but you won't be winning any prizes, I can tell you that much</p>
    <% } %>

    <% if (GameSession.totalScore <= 4000 && GameSession.totalScore > 1000){ %>
      <p>Not the worst I've seen, you probably just got unlucky</p>
    <% } %>

    <% if (GameSession.totalScore <= 1000 && GameSession.totalScore > 200){ %>
      <p>Oh well, that was not great, but there's always next time eh.</p>
    <% } %>

    <% if (GameSession.totalScore <= 200 ){ %>
      <p>wot?</p>
    <% } %>

    <a class="btn btn-primary" method="post"  href="/api/games" data-template="map" id="gmap">Play Again</a>

  </div>
</div>
