<div class="homeTem">
  <div class="container">
      <div class="header">
        <img class="img-rounded" src="./images/flat-map.png" alt="Logo" />
        <h1>Street Smart</h1>
        <p>Test your knowledge of London</p>
      </div>
      <div class="buttons">
        <a class="btn btn-primary btn-lg btn-block" method="post"  href="/api/games" data-template="map" id="gmap">Start Game</a>
          <a class="btn btn-default btn-lg btn-block" href="" data-template="rules" id="rules">Rules</a>
          <a class="btn btn-default" href="/login" data-template="login" id="login">Log In</a>
          <a class="btn btn-default" href="/register" data-template="register" id="register">Register</a>
      </div>
  </div>
</div>
<script type="text/javascript">
  console.log("Yo")
</script>
