<div class="rulesTem">
  <div class="container">
    <h1>Street Map : Find where you are !</h1>
    <p>You just got dropped in a random location of London! Using you deep knowledge of the city, guess where!</p>
    <p>Use the arrows and move around to find clues. When you think you know where you are, click on the map and check your answer. </h3>
    <p>The closer you guess is to the actual place you were dropped the more point you score.</p>
    <p>You have five rounds to score the highest points possible, then compare you score to the other players.</p>
    <div class="button">
      <a class="btn btn-primary" method="post"  href="/api/games" data-template="map" id="gmap">Start Game</a>
    </div>

  </div>
</div>
