<div class="rulesTem">
  <div class="container">
     <div class="header">
       <h2>How well do you know London?</h2>
       <img class="img-rounded" src="./images/flat-map.png" alt="Logo" />
     </div>
     <div class="content">
       <p>You start at a random spot in the city, with nothing but your map! Using your deep knowledge of London, identify where you started at</p>
       <p>Use the arrows and move around to find clues to your location. When you think you know where you are and where you started, click on the map where you think you started, and check your answer</h3>
       <p>The further you are from your location, the higher your score will be</p>
       <p>You have five rounds to score the lowest points possible, and show your friends how much you know this city!</p>
     </div>
    <div class="button">
      <a class="btn btn-primary" method="post"  href="/api/games" data-template="map" id="gmap">Start Game</a>
    </div>

  </div>
</div>
