<div class="rulesTem">
  <div class="container">
    <h1>How well do you know London?</h1>
    <img class="img-rounded" src="./images/flat-map.png" alt="Logo" />
    <h2>You've been dropped off at a random spot in the city, with nothing but your map</h2>
    <p>Find where you are on the map and check your answer</p>
    <p>Look around and find clues to your location- When you think you know where you are, click on the map, and submit your guess</p>
    <p>You have five rounds to score the highest score possible, and show your friends how much you know this city!</p>
    <div class="button">
      <a class="btn btn-primary" method="post"  href="/api/games" data-template="map" id="gmap">Start Game</a>
    </div>

  </div>
</div>
